<script src="<%= typeof root !== 'undefined' ? root : '' %>public/home/plugin/uikit.min.js"></script>
<script src="<%= typeof root !== 'undefined' ? root : '' %>public/home/plugin/plugin.min.js"></script>
<script src="<%= typeof root !== 'undefined' ? root : '' %>public/home/ui/js/general.min.js"></script>
<script src="<%= typeof root !== 'undefined' ? root : '' %>public/home/ui/js/util.js"></script>
<script src="<%= typeof root !== 'undefined' ? root : '' %>public/home/ui/js/chunk_1.0.js"></script>
<div id="modalScreen"></div>
  </main>
</body>
</html>